<!-- 登录 -->
<div class="modal-content" id="sign-in">
  <div class="modal-header">
    <button type="button" class="close close-ele" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">登录</h4>
  </div>
  <div class="modal-body">
    <form name="loginForm" novalidate ng-controller="loginCtrl">
      <div class="form-horizontal form-cont">
        <div class="form-group">
          <label for="signin-account" class="label-tit col-xs-5">账号：</label>
          <span class="link-txt col-xs-7"><a href="#/register" id="signup-btn">免费注册</a></span>
          <div class="col-xs-12">
            <input
            type="text"
            class="form-control"
            id="signin-account"
            placeholder="请输入邮箱或者手机号"
            ng-model="user.username"
            check-username
            required>
            <span class="hint-info" ng-show="emailForm.email.$showhint && emailForm.email.$error.pattern">邮箱格式错误</span>
            <span class="hint-info" ng-show="emailForm.email.$showhint && emailForm.email.$error.sole">该邮箱已经注册</span>
            <span class="hint-icon glyphicon glyphicon-ok-sign text-success" ng-show="emailForm.email.$showhint && emailForm.email.$valid"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="signin-password" class="label-tit col-xs-5">密码：</label>
          <span class="link-txt col-xs-7"><a href="javascript:;">忘记密码</a></span>
          <div class="col-xs-12">
            <input type="password" class="form-control" id="signin-password" placeholder="请输入您的密码">
          </div>
        </div>
        <div class="checkbox">
          <label class="col-xs-12">
            <input type="checkbox">7天内自动登录
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-lg btn-block">登录</button>
  </div>
</div>
