<li class="sr-list-item">
  <div class="sr-explain">
    <small class="sr-explain-1"> - 提高 - </small>
    <small class="sr-explain-2"><span class="sr-explain-grade label label-primary">高一</span><span class="sr-explain-subjects label label-default">数学</span></small>
  </div>
  <div class="sr-cont">
    <h4 class="sr-tit"><b>第一课</b>演示内容</h4>
    <div class="sr-des">当前搜索的关键词：<em><%= sKeyWord %></em></div>
  </div>
  <div class="sr-duration"><span>时长</span><i> - </i><em>13:20</em></div>
  <a href="javascript:;" class="sr-anchor"></a>
</li>