<div class="modal-content select-type" ng-controller="selectTypeCtrl">
  <div class="modal-header">
    <h4 class="modal-title">找回密码</h4>
  </div>
  <div class="modal-body">
    <div class="select-item " ng-class="getActiveClass('mobile')">
      <label>
        <input type="radio" name="findType" id="options-mobile" value="mobile" ng-model="findType.select" checked="checked">
        通过手机找回
      </label>
    </div>
    <div class="select-item " ng-class="getActiveClass('email')">
      <label>
        <input type="radio" name="findType" id="options-email" value="email" ng-model="findType.select">
        通过邮箱找回
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#/{{findType.select}}" class="btn btn-primary btn-lg btn-block">下一步</a>
  </div>
</div>
