<div class="modal-content" id="forgot-mobile" ng-controller="mobileCtrl">
  <div class="modal-header">
    <h4 class="modal-title">通过手机找回密码</h4>
  </div>
  <div class="modal-body" ng-switch="mobileData.currentStep">
    <ul class="step-tit">
      <li ng-class="mobileData.getActiveClass(0)">第一步</li>
      <li ng-class="mobileData.getActiveClass(1)">第二步</li>
      <li ng-class="mobileData.getActiveClass(2)">第三步</li>
    </ul>
    <div class="step-cont">
      <!-- 第一步 输入图片验证码 -->
      <form name="mobileForm_0" ng-switch-when='0' novalidate>
        <div class="form-horizontal form-cont">
          <div class="form-group">
            <label for="input-mobile-0" class="label-tit col-xs-12">手机号码：</label>
            <div class="col-xs-12">
              <input
              type="number"
              name="mobile"
              class="form-control"
              id="input-mobile-0"
              placeholder="您绑定的手机号码"
              ng-model="mobileData.mobile"
              ng-pattern="/^(13|14|15|18)\d{9}$/"
              required>
            </div>
          </div>
          <div class="form-group">
            <label for="input-mobile-imgcaptcha" class="label-tit col-xs-12">验证码：</label>
            <div class="col-xs-6 col-sm-8">
              <!-- ensure-correct的值 用来在自定义指令中做些判断 -->
              <input
              type="text"
              name="imgCaptcha"
              class="form-control"
              id="input-mobile-imgcaptcha"
              placeholder="输入验证码"
              ng-model="imgCaptcha"
              maxlength="5"
              ng-pattern="/[A-Za-z0-9]{5}/"
              ensure-correct="img"
              required>
              <span class="inner-absolute" ng-show="!mobileForm_0.imgCaptcha.$isEmpty(imgCaptcha) && !mobileForm_0.imgCaptcha.$error.pattern">
                <span class="glyphicon glyphicon-remove-sign text-danger" ng-show="vm.verifyCallback.img && mobileForm_0.imgCaptcha.$error.correct"></span>
                <span class="glyphicon glyphicon-ok-sign text-success" ng-show="vm.verifyCallback.img && !mobileForm_0.imgCaptcha.$error.correct"></span>
              </span>
            </div>
            <div class="col-xs-6 col-sm-4">
              <img ng-src="{{vm.getCaptcha}}" ng-click="vm.reloadCaptcha()">
            </div>
          </div>
          <div class="form-group" ng-show="mobileForm_0.$dirty && mobileForm_0.$invalid">
            <div class="col-xs-12">
              <div class="alert alert-danger">
                <ul>
                  <li ng-show="mobileForm_0.$dirty && mobileForm_0.$invalid">信息不完整或不正确</li>
                  <li ng-show="mobileForm_0.mobile.$dirty && mobileForm_0.mobile.$error.required">手机号码不能为空</li>
                  <li ng-show="mobileForm_0.mobile.$dirty && mobileForm_0.mobile.$error.pattern">手机号码格式不正确或位数不对</li>
                  <li ng-show="mobileForm_0.imgCaptcha.$dirty && mobileForm_0.imgCaptcha.$error.required">验证码不能为空</li>
                  <li ng-show="mobileForm_0.imgCaptcha.$dirty && mobileForm_0.imgCaptcha.$error.pattern">验证码格式不正确或位数不对</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-lg btn-block" ng-disabled="mobileForm_0.$invalid || mobileForm_0.imgCaptcha.$error.correct" ng-click="mobileData.currentStep = 1">下一步</button>
        </div>
      </form>
      <!-- 第二步 输入短信验证码 -->
      <form name="mobileForm_1" ng-switch-when='1' novalidate>
        <div class="form-horizontal form-cont">
          <div class="form-group">
            <label for="input-mobile-1" class="label-tit col-xs-12">手机号码：</label>
            <div class="col-xs-12">
              <input type="number" class="form-control" id="input-mobile-1" placeholder="{{mobileData.mobile}}" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="input-mobile-captcha" class="label-tit col-xs-12">短信验证码：</label>
            <div class="col-xs-6 col-sm-7">
              <input
              type="number"
              name="mobileCaptcha"
              class="form-control"
              id="input-mobile-captcha"
              placeholder="短信验证码"
              maxlength="4"
              ng-model="mobileCaptcha"
              ng-pattern="/[0-9]{4}/"
              ensure-correct="mobile"
              required>
              <span class="inner-absolute" ng-show="!mobileForm_1.mobileCaptcha.$isEmpty(mobileCaptcha) && !mobileForm_1.mobileCaptcha.$error.pattern">
                <span class="glyphicon glyphicon-remove-sign text-danger" ng-show="vm.verifyCallback.mobile && mobileForm_1.mobileCaptcha.$error.correct"></span>
                <span class="glyphicon glyphicon-ok-sign text-success" ng-show="vm.verifyCallback.mobile && !mobileForm_1.mobileCaptcha.$error.correct"></span>
              </span>
            </div>
            <div class="col-xs-6 col-sm-5">
              <button type="button" class="btn btn-primary" ng-show="smsBtn.isShow" ng-disabled="smsBtn.isDis"  ng-click="mobileData.getMobileCode(mobileData.mobile)">{{smsBtn.txt}}</button>
              <button type="button" class="btn btn-default" ng-show="!smsBtn.isShow" disabled>{{smsBtn.countDown}}后重新发送</button>
            </div>
          </div>
          <div class="form-group" ng-show="mobileForm_1.$dirty && mobileForm_1.$invalid">
            <div class="col-xs-12">
              <div class="alert alert-danger">
                <ul>
                  <li ng-show="mobileForm_1.$dirty && mobileForm_1.$invalid">信息不完整或不正确</li>
                  <li ng-show="mobileForm_1.mobileCaptcha.$dirty && mobileForm_1.mobileCaptcha.$error.required">验证码不能为空</li>
                  <li ng-show="mobileForm_1.mobileCaptcha.$dirty && mobileForm_1.mobileCaptcha.$error.pattern">验证码格式不正确或位数不对</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- mobileForm_1.mobileCaptcha.$error.correct是为了防止服务器验证未返回的情况下，mobileForm_1.$invalid 出现短暂的可用状态 -->
          <button
          type="button"
          class="btn btn-primary btn-lg btn-block"
          ng-disabled="mobileForm_1.$invalid || mobileForm_1.mobileCaptcha.$error.correct"
          ng-click="mobileData.currentStep = 2">下一步</button>
        </div>
      </form>
      <!-- 第三步 输入新密码 -->
      <form name="mobileForm_2" ng-switch-when='2' novalidate>
        <div class="form-horizontal form-cont">
          <div class="form-group">
            <label for="input-mobile-2" class="label-tit col-xs-12">手机号码：</label>
            <div class="col-xs-12">
              <input type="number" class="form-control" id="input-mobile-2" placeholder="{{mobileData.mobile}}" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="input-mobile-password" class="label-tit col-xs-12">设置密码：</label>
            <div class="col-xs-12">
              <input
              type="password"
              name="password"
              class="form-control"
              id="input-mobile-password"
              placeholder="您要设置的密码"
              ng-model="mobileData.password"
              ng-minlength="6"
              ng-maxlength="15"
              required>
            </div>
          </div>
          <div class="form-group">
            <label for="input-mobile-confirmpassword" class="label-tit col-xs-12">密码确认：</label>
            <div class="col-xs-12">
              <input
              type="password"
              name="confirmpassword"
              class="form-control"
              id="input-mobile-confirmpassword"
              placeholder="再次输入您的密码"
              ng-model="mobileData.confirmpassword"
              pd-confirm="password"
              required>
            </div>
          </div>
          <div class="form-group" ng-show="mobileForm_2.$dirty && mobileForm_2.$invalid">
            <div class="col-xs-12">
              <div class="alert alert-danger">
                <ul>
                  <li ng-show="mobileForm_2.$dirty && mobileForm_2.$invalid">请正确填完表单</li>
                  <li ng-show="mobileForm_2.password.$dirty && mobileForm_2.password.$error.required">密码不能为空</li>
                  <li ng-show="mobileForm_2.password.$dirty && mobileForm_2.password.$error.minlength">密码长度不能小于6个字符</li>
                  <li ng-show="mobileForm_2.password.$dirty && mobileForm_2.password.$error.maxlength">密码长度不能大于15个字符</li>
                  <li ng-show="mobileForm_2.confirmpassword.$dirty && mobileForm_2.confirmpassword.$error.confirm">两次密码输入不一样</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-lg btn-block" ng-disabled="mobileForm_2.$invalid " ng-click="mobileData.updatePassword()">提交</button>
        </div>
      </form>
    </div>
  </div>
</div>
