# My configurations:
.ftpconfig
.r.js

*.psd
*.ico
*.png
*.jpg
*.gif
*.css
*.map
*.ftpconfig

.idea/*
.vscode/*
deployd/*
dist/*
lib/*
node_modules/*
other/*
static/js/libs/*
static/js/tpl/*
template/build/*
test/lib/*
typings/*
