<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- 通知 IE 采用其所支持的最新的模式 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 指定用户是否可以缩放Web页面 -->
  <title>忘记密码</title>
  <meta name="Description" content="" />
  <meta name="Keywords" content="" />
  <meta content="http://addaad.com/z/img/favicon-48.png" itemprop="image">
  <link rel="icon" type="image/vnd.microsoft.icon" href="http://addaad.com/z/img/favicon-24.ico" />
  <link rel="stylesheet" href="lib/bootstrap/bootstrap-3.3.5/dist/css/bootstrap.css">
  <!-- 生产环境样式 -->
  <link rel="stylesheet" href="static/css/common.css">
  <link rel="stylesheet" href="static/css/forgot-password.css">
  <!-- <link rel="stylesheet" href="static/css/pay-center-sm-lg.css" media="screen and (min-width:768px)" title="no title" charset="utf-8"> -->
  <!--[if lt IE 9]>
    <script src="lib/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="lib/respondjs/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script data-main="static/js/forgot-password.js" src="lib/require.js"></script>
</head>

<body id="forgot-password">
  <div class="modal">
    <div class="modal-dialog" role="document" ng-model="initStep" ng-controller="stepCtrl" ng-switch="initStep">
      <div class="modal-content" ng-controller="selectTypeCtrl" ng-switch-default>
        <div class="modal-header">
          <h4 class="modal-title">找回密码</h4>
        </div>
        <div class="modal-body">
          <div class="select-type">
            <div class="select-item " ng-class="activeBg('mobile')">
              <label>
                <input type="radio" name="findType" id="options-mobile" value="mobile" ng-model="selectType.currentType" checked="checked">
                通过手机找回
              </label>
            </div>
            <div class="select-item " ng-class="activeBg('email')">
              <label>
                <input type="radio" name="findType" id="options-email" value="email" ng-model="selectType.currentType">
                通过邮箱找回
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="$emit('typeNext',selectType.currentType)">下一步</button>
        </div>
      </div>
      <div class="modal-content" id="forgot-mobile" ng-controller="mobileCtrl" ng-switch-when="mobile">
        <div class="modal-header">
          <h4 class="modal-title">通过手机找回密码</h4>
        </div>
        <div class="modal-body">
          <ul class="step-tit">
            <li class="active">第一步</li>
            <li>第二步</li>
            <li>第三步</li>
          </ul>
          <div class="step-cont">
            <div class="form-horizontal form-cont" id="mobile-step-1">
              <div class="form-group">
                <label for="input-mobile-1" class="label-tit col-xs-12">手机号码：</label>
                <div class="col-xs-12">
                  <input type="text" class="form-control" id="input-mobile-1" placeholder="您绑定的手机号码">
                </div>
              </div>
              <div class="form-group">
                <label for="input-mobile-imgcaptcha" class="label-tit col-xs-12">验证码：</label>
                <div class="col-xs-6 col-sm-8">
                  <input type="text" class="form-control" id="input-mobile-imgcaptcha" placeholder="输入验证码">
                </div>
                <div class="col-xs-6 col-sm-4">
                  <img src="/" alt="">
                </div>
              </div>
            </div>
            <div class="form-horizontal form-cont hide" id="mobile-step-2">
              <div class="form-group">
                <label for="input-mobile-2" class="label-tit col-xs-12">手机号码：</label>
                <div class="col-xs-12">
                  <input type="number" class="form-control" id="input-mobile-2" placeholder="13900008888" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="input-mobile-captcha" class="label-tit col-xs-12">短信验证码：</label>
                <div class="col-xs-6 col-sm-8">
                  <input type="text" class="form-control" id="input-mobile-captcha" placeholder="短信验证码">
                </div>
                <div class="col-xs-6 col-sm-4">
                  <button type="submit" class="btn btn-primary" id="get-mobile-captcha">获取验证码</button>
                </div>
              </div>
            </div>
            <div class="form-horizontal form-cont hide" id="mobile-step-3">
              <div class="form-group">
                <label for="input-mobile-3" class="label-tit col-xs-12">手机号码：</label>
                <div class="col-xs-12">
                  <input type="number" class="form-control" id="input-mobile-3" placeholder="13900008888" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="input-mobile-password" class="label-tit col-xs-12">设置密码：</label>
                <div class="col-xs-12">
                  <input type="password" class="form-control" id="input-mobile-password" placeholder="您要设置的密码">
                </div>
              </div>
              <div class="form-group">
                <label for="input-mobile-confirmpassword" class="label-tit col-xs-12">密码确认：</label>
                <div class="col-xs-12">
                  <input type="password" class="form-control" id="input-mobile-confirmpassword" placeholder="重新输入您的密码">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="">下一步</button>
        </div>
      </div>
      <div class="modal-content" id="forgot-email" ng-switch-when="email">
        <div class="modal-header">
          <h4 class="modal-title">通过邮箱找回密码</h4>
        </div>
        <div class="modal-body">
          <ul class="step-tit">
            <li>第一步</li>
            <li>第二步</li>
            <li>第三步</li>
          </ul>
          <div class="step-cont">
            <div class="form-horizontal form-cont hide" id="email-step-1">
              <div class="form-group">
                <label for="input-email-1" class="label-tit col-xs-12">邮箱地址：</label>
                <div class="col-xs-12">
                  <input type="text" class="form-control" id="input-email-1" placeholder="您绑定的邮箱">
                </div>
              </div>
              <div class="form-group">
                <label for="input-email-imgcaptcha" class="label-tit col-xs-12">验证码：</label>
                <div class="col-xs-6 col-sm-8">
                  <input type="text" class="form-control" id="input-email-imgcaptcha" placeholder="输入验证码">
                </div>
                <div class="col-xs-6 col-sm-4">
                  <img src="/" alt="">
                </div>
              </div>
            </div>
            <div class="form-horizontal form-cont hide" id="email-step-2">
              <div class="form-group">
                <label for="input-email-2" class="label-tit col-xs-12">邮箱地址：</label>
                <div class="col-xs-12">
                  <input type="number" class="form-control" id="input-email-2" placeholder="example_email@gmail.com" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="input-email-captcha" class="label-tit col-xs-12">邮件验证码：</label>
                <div class="col-xs-6 col-sm-8">
                  <input type="text" class="form-control" id="input-email-captcha" placeholder="邮件验证码">
                </div>
                <div class="col-xs-6 col-sm-4">
                  <button type="submit" class="btn btn-primary" id="get-email-captcha">获取验证码</button>
                </div>
              </div>
            </div>
            <div class="form-horizontal form-cont" id="email-step-3">
              <div class="form-group">
                <label for="input-email-3" class="label-tit col-xs-12">邮箱地址：</label>
                <div class="col-xs-12">
                  <input type="number" class="form-control" id="input-email-3" placeholder="example_email@gmail.com" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="input-email-password" class="label-tit col-xs-12">设置密码：</label>
                <div class="col-xs-12">
                  <input type="password" class="form-control" id="input-email-password" placeholder="您要设置的密码">
                </div>
              </div>
              <div class="form-group">
                <label for="input-email-confirmpassword" class="label-tit col-xs-12">密码确认：</label>
                <div class="col-xs-12">
                  <input type="password" class="form-control" id="input-email-confirmpassword" placeholder="重新输入您的密码">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-lg btn-block">下一步</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
