// ************************************************************
// 引入mixins 变量
// ************************************************************
@import "./variables.less";
@import "../bootstrap/mixins.less";
// ************************************************************
// 默认样式
// ************************************************************

// ----------用户资料
// 列表通用样式
#accordion .al-panel {
  margin-top: 0;
  border-bottom-color: #eee;
  border-top:none;
}
.al-tit{
  box-sizing: content-box;
  height: 70px;
  line-height: 70px;
  h3{
    float: left;
    margin:0 6px 0 0;
    width: 90px;
    line-height: inherit;
    font-size: 16px;
    text-align: center;
    color: #333;
  }
  .des{
    float: left;
    max-width: 110px;
    display: table;
    height:inherit;
    line-height: 16px;
    color: #777;
    font-size: 12px;
  }
  .des-txt{
    display: table-cell;
    vertical-align: middle;
  }
  .operation {
    float: right;
    .collapse-btn{
      float: right;
      padding: 0 5px;
    }
    padding-right: 15px;
  }
}
.al-tit-active {
  background-color: #f8f8f8;
}
.al-collapse{
  overflow: hidden;
}
.al-collapse-inner{
  margin: 5px;
  padding:15px 15px 0 15px;
  .var-border-radius(@border-radius-sm);
  background: #f5f5f5;
  overflow: hidden;
  .btn-primary{
    padding-left: 40px;
    padding-right: 40px;
  }
}
.form-horizontal{
  label {
    color: #333;
  }
}

// 网站头像特殊样式
.al-avatar {
  .al-tit {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .avatar-link{
    margin-bottom: 15px;
  }
  .avatar-img{
    .img-responsive();
  }
  .al-collapse-inner{
    padding-left: 0;
    padding-right: 0;
  }
  .al-btn-box{
    margin-bottom: 15px;
  }
}
// 用户昵称特殊样式
