// ************************************************************
// 引入mixins 变量
// ************************************************************
@import "./variables.less";
@import "../bootstrap/mixins.less";
// ************************************************************
// 默认样式
// ************************************************************

// ----------用户资料
.al-item{
  height: 70px;
  h3{
    float: left;
    .size(110px,70px);
    font-size: 16px;
    text-align: center;
    line-height: 70px;
    margin-right: 35px;
  }
  .des{
    float: right;
  }
  .operation {
    float: right;
  }
}
.al-avatar {
  height: 130px;
  h3{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .des{
    margin-top: 15px;
    margin-bottom: 15px;
  }

}
