// ************************************************************
// 引入mixins 变量
// ************************************************************
@import "./variables.less";
@import "../bootstrap/mixins.less";
// ************************************************************
// 共用样式
// ************************************************************
// ----------侧栏sidebar
#sidebar{
  margin-top: 20px;
  .media{
    margin: 15px 0 15px 15px;
  }
  .media-left{
    float: left;
    .size(70px,70px);
    margin-right: 10px;
    padding: 0;
  }
  .media-heading{
    margin-top: 5px
  }
  .media-cont {
    margin-bottom: 0;
    dt{
      font-weight: normal;
      color: #aaa;
      font-size:12px;
    }
    dd{
      float: left;
      em{
        color: #ff8e46;
      }
    }
    .ico{
      display: inline-block;
      margin-left: 4px;
      .size(16px,15px);
      vertical-align:middle;
      background: url("../../static/img/key.png") no-repeat top left;
    }
    .recharge{
      margin-left: 10px;
      font-size: 10px;
      color: #fff;
      padding: 2px 4px;
      background: #337ab7;
      .var-border-radius(@border-radius-sm);
    }
  }
  .menu-list{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  .menu-list-link{
    display: block;
    .size(100%,65px);
    line-height: 65px;
    font-size: 18px;
    color: #333;
    text-align: center;
    border-top: 1px #eee solid;
    &:hover{
      background: #eee;
    }
    &.active{
      background: #f8f8f8;
    }
  }
}//.sidebar

// ----------表格 相关
// 表格基础
.table-wrap{
  overflow-x:auto;
  overflow-y: hidden;
}
.table-base{
  width: 100%;
  min-width: 600px;
  text-align: center;
  vertical-align: middle;
}
.table-base thead tr{
  background-color: #f8f8f8;
}
.table-base th{
  text-align: center;
  color: #555;
  font-weight: normal;
  height: 40px;
}
.table-base td{
  height: 70px;
  border:1px #eee solid;
}
.table-base td:first-child{
  border-left: none;
}
.table-base td:last-child{
  border-right: none;
}
// 表格1 （学习进度/充值记录）
.table-one th{
  border-left:1px #eee solid;
  border-right:1px #eee solid;
}
.table-one th:first-child{
  border-left: none;
}
.table-one th:last-child{
  border-left: none;
}
.table-one tbody tr:nth-child(even){
  background-color: #fcfcfc;
}
.table-one tbody tr:hover{
  background: #eee;
}

// 表格2 （购买记录）
.table-two th small {
  color: #aaa;
}
.table-two .order-num{
  color: #aaa;
}

// ************************************************************
// 页面样式
// ************************************************************
// ----------用户资料
// 列表通用样式
.panel-group{
  margin-bottom: 0;
}
#accordion .account-panel {
  margin-top: 0;
  border-bottom-color: #eee;
  border-top:none;
}
.account-tit{
  box-sizing: content-box;
  height: 70px;
  line-height: 70px;
  h3{
    float: left;
    margin:0 6px 0 0;
    width: 90px;
    line-height: inherit;
    font-size: 16px;
    text-align: center;
    color: #333;
  }
  .des{
    float: left;
    max-width: 110px;
    display: table;
    height:inherit;
    line-height: 16px;
    color: #777;
    font-size: 12px;
  }
  .des-txt{
    display: table-cell;
    vertical-align: middle;
  }
  .operation {
    float: right;
    .collapse-btn{
      float: right;
      padding: 0 5px;
    }
    padding-right: 15px;
  }
}
.account-tit-active {
  background-color: #f8f8f8;
}
.account-collapse{
  overflow: hidden;
}
.account-collapse-inner{
  margin: 5px;
  padding:15px 15px 0 15px;
  .var-border-radius(@border-radius-sm);
  background: #f5f5f5;
  overflow: hidden;
  .btn-primary{
    padding-left: 40px;
    padding-right: 40px;
  }
}
.form-horizontal{
  .input-des{
    color: #333;
    font-weight: normal;
  }
}
// 网站头像特殊样式
.account-avatar {
  .account-tit {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .avatar-link{
    margin-bottom: 15px;
  }
  .avatar-img{
    .img-responsive();
  }
  .account-collapse-inner{
    padding-left: 0;
    padding-right: 0;
  }
  .account-btn-box{
    margin-bottom: 15px;
  }
}

// ----------学习进度
.progress-viewing-time{
  font-size: 12px;
}
.gps-progress{
  margin: 0 auto;
  .size(200px,25px);
  background: #f8f8f8;
  .var-border-radius(@border-radius-sm);
  .box-shadow(0 1px 3px rgba(190,190,190,.3) inset);
}
.gps-progress-bar{

}
.progress-status{
  font-size: 12px;
}

// ----------购买记录
.purchase-list thead{
  .purchase-date,.purchase-order{
    background: #f2f2f2;
  }
  .purchase-price,.purchase-total-price{
    border-left: 1px #eee solid;
    border-right: 1px #eee solid;
  }
}
.purchase-list tbody{
  .purchase-explain,.purchase-title,.purchase-price{
    border-left: none;
    border-right: none;
  }
  .purchase-title{
    text-align: left;
    padding-left: 10px;
  }
  .explain-1,.explain-2{
    .center-block();
    width: 70px;
    height: 25px;
    line-height: 25px;
  }
  .purchase-explain .label {
    display: inline-block;
    font-size: 85%;
    padding: 0.2em 0.3em;
  }
  .explain-grade{
    margin-right: 5px;
  }
}

// ----------优惠信息
  .preferential{
    .preferential-tit{
      margin: 0;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      color: #555;
      background: #f8f8f8;
      padding-left: 30px;
    }
    .exchange .form-inline{
      margin: 5px;
      padding: 15px;
    }
    .preferential-scrip{
      position: relative;
      .size(120px,300px);
      .var-border-radius(@border-radius-sm);
      margin-top: 15px;
      margin-bottom: 15px;
      background: #f8f8f8;
    }
    .preferential-scrip-left{
      float: right;
    }
    .ps-tit{
      .text-hide();
      .size(120px,84px);
      background: url("../img/personal/preferential-scrip-tit-y.jpg") no-repeat left top;
    }
    .ps-cont {
      padding: 10px;
      .price{
        // text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #333;
        font-size: 26px;
        font-weight: bold;
        small{
          font-size: 12px;
          margin-left: 5px;
        }
      }
      dl{
        font-size: 12px;
        color: #aaa;
      }
    }
    .expired {
      position: absolute;
      .size(120px,300px);
      left:0;
      top:0;
      background: url("../img/personal/preferential-scrip-y-expired.png") no-repeat left top;
    }
  }


// }
