// ************************************************************
// 引入mixins 变量
// ************************************************************
@import "./variables.less";
@import "../bootstrap/mixins.less";

// @media (min-width:@screen-xs-min) and (max-width:@screen-sm-min) {
//   .al-tit{
//     .des {
//       max-width: 150px;
//     }
//   }
// }

// ************************************************************
// >=平板屏幕（768px）
// ************************************************************
@media (min-width: @screen-sm-min) {
  // ----------侧栏sidebar
  #sidebar{
    .media{
      margin: 20px 0 20px 20px;
    }
    .media-left{
      .size(100px,100px);
      margin-right: 10px;

    }
    .media-heading{
      margin: 10px 0 5px 0;
    }
    .media-cont {
      dd{
        float: none;
      }
      .recharge{
        margin-left: 0;
      }
    }

  }

  // ----------用户资料
  // 列表通用样式
  .al-tit {
    h3{
      font-size: 16px;
      width: 110px;
      margin-right: 35px;
    }
    .des {
      max-width: 300px;
    }
    .operation{
      .collapse-btn{
        float: none;
      }
    }
  }
  .al-collapse-inner {
    margin: 15px;
    padding-left: 0;
    padding-right: 0;

  }
  .form-horizontal {
    width: 370px;
  }

  // 网站头像特殊样式
  .al-avatar {
    .al-tit{
      height: 100px;
      line-height: 100px;
    }
  }


  .gps-progress{
    .size(250px,25px);

  }



}

// ************************************************************
// >=中等屏幕（992px）
// ************************************************************
@media (min-width: @screen-md-min) {
  // ----------侧栏sidebar
  #sidebar{
    margin-top: 0;
  }
}

// ************************************************************
// >=大屏幕（1200px）
// ************************************************************
@media (min-width: @screen-lg-min) {

}
