article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
  display: block;
}
@font-face {
  font-family: 'webfont-fine';
  src: url("http://at.alicdn.com/t/ockji0xhuyn1att9.eot");
  src: url("http://at.alicdn.com/t/ockji0xhuyn1att9.eot?#iefix") format("embedded-opentype"), url("http://at.alicdn.com/t/ockji0xhuyn1att9.woff") format("woff"), url("http://at.alicdn.com/t/ockji0xhuyn1att9.ttf") format("truetype"), url("http://at.alicdn.com/t/ockji0xhuyn1att9.svg#思源黑体-细") format("svg");
}
body {
  height: 1000px;
  background: #fafafa;
  font-family: "Microsoft Yahei";
}
