#sourese-list .menu-toggle {
  position: fixed;
  z-index: 99;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  outline: 0;
}
#sourese-list .menu-toggle .glyphicon {
  margin-top: 5px;
  font-size: 15px;
  color: #fff;
}
#sourese-list .menu-toggle.menu-toggle-filter {
  background-color: #025f99;
}
#sourese-list .menu-toggle.menu-toggle-cancel {
  background-color: #990000;
}
#sourese-list .menu-toggle.menu-toggle-affirm {
  background-color: #009900;
}
#sourese-list main {
  margin-top: 50px;
}
#sourese-list .menu {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  background-color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
}
#sourese-list .menu ul {
  list-style: none;
  padding: 0;
}
#sourese-list #menu-tabs {
  overflow: hidden;
}
#sourese-list #menu-tabs ul {
  float: left;
  margin-bottom: 0;
  width: 100%;
  background-color: #cac3af;
}
#sourese-list .menu-tabs-item {
  float: left;
  width: 50%;
}
#sourese-list .menu-tab {
  font-size: 16px;
  display: block;
  color: #fff;
  overflow: hidden;
  width: 100%;
  height: 30px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
}
#sourese-list .menu-tab span {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 32px;
  height: 18px;
  margin-top: 6px;
  margin-bottom: 6px;
}
#sourese-list #menu-tabs li.active a,
#sourese-list #menu-tabs li.active a:hover,
#sourese-list #menu-tabs li.active a:focus {
  color: #333;
  background-color: #fff;
  cursor: default;
}
#sourese-list .tab-content {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
#sourese-list .menu-filter {
  overflow: hidden;
  background: url("../img/sourese/h-line.gif") no-repeat left bottom;
}
#sourese-list .menu-filter-des {
  float: left;
  text-align: center;
  width: 32px;
  height: auto;
  min-height: 48px;
  padding: 4px 6px;
}
#sourese-list .menu-filter-des-item {
  color: #aaa;
}
#sourese-list .menu-filter-cont {
  float: left;
  width: 90%;
  height: auto;
  min-height: 48px;
  padding: 5px;
  background: url("../img/sourese/h-line-2.gif") repeat-x left bottom;
}
#sourese-list .menu-filter-bt {
  display: inline-block;
  padding: 2px 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-right: 2px;
  margin-top: 6px;
}
#sourese-list .menu-filter-bt:hover {
  background-color: #e2e2e2;
}
@media (max-width: 767px) {
  #sourese-list .menu-filter-bt i {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
}
#sourese-list .grade-p {
  float: left;
  margin-right: 5px;
}
#sourese-list .grade-p .grade-bt {
  color: #876c17;
}
#sourese-list .grade-p .active {
  color: #fff;
  background-color: #876c17;
}
#sourese-list .grade-p .active:hover {
  color: #fff;
  background-color: #876c17;
}
#sourese-list .grade-jh {
  float: left;
  margin-right: 5px;
}
#sourese-list .grade-jh .grade-bt {
  color: #689f38;
}
#sourese-list .grade-sh {
  float: left;
}
#sourese-list .grade-sh .grade-bt {
  color: #09587b;
}
#sourese-list .discipline .active,
#sourese-list .version .active,
#sourese-list .knowledge .active {
  color: #fff;
  background-color: #333;
}
#sourese-list .discipline .active:hover,
#sourese-list .version .active:hover,
#sourese-list .knowledge .active:hover {
  color: #fff;
  background-color: #333;
}
@media (min-width: 768px) {
  #sourese-list main {
    margin-top: 80px;
  }
  #sourese-list .menu {
    margin-top: 30px;
  }
}
@media (min-width: 992px) {
  .menu-toggle {
    display: none;
  }
  .menu-collapse {
    display: block !important;
  }
  #sourese-list .menu {
    position: static;
    margin-top: 60px;
    height: 320px;
  }
  #sourese-list #menu-tabs ul {
    -webkit-border-top-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  #sourese-list .menu-tabs-item {
    width: 100%;
  }
  #sourese-list .menu-tab {
    font-size: 20px;
    width: 100%;
    height: 160px;
    -webkit-border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  #sourese-list .menu-tab span {
    width: 20px;
    height: 56px;
    margin-top: 52px;
    margin-bottom: 52px;
  }
  #sourese-list .tab-content {
    float: left;
  }
  #sourese-list .menu-filter {
    margin: 0;
  }
  #sourese-list .menu-filter-des {
    line-height: 80px;
    width: 6%;
    height: 80px;
    margin: 0;
    padding: 0;
  }
  #sourese-list .menu-filter-cont {
    overflow: hidden;
    box-sizing: border-box;
    width: 94%;
    height: 80px;
    padding: 0 0 0 10px;
    margin: 0;
  }
  #sourese-list .menu-filter-bt {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 2px;
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 30px;
    color: #333;
  }
  #sourese-list .menu-filter-bt:hover {
    background-color: #e2e2e2;
  }
  #sourese-list .grade-p {
    margin-top: 0;
  }
  #sourese-list .grade-jh {
    margin-top: 0;
  }
  #sourese-list .grade-sh {
    margin-top: 0;
  }
  #sourese-list .menu-filter .disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: #ccc;
  }
  #sourese-list .menu-filter .disabled:hover {
    background-color: transparent;
  }
  #sourese-list .tab-pane-last-item {
    background-image: none;
  }
}
@media (min-width: 1200px) {
  #sourese-list .menu-filter-bt {
    margin-right: 10px;
  }
  #sourese-list .grade-p {
    margin-right: 15px;
  }
  #sourese-list .grade-jh {
    margin-right: 15px;
  }
}
/*# sourceMappingURL=sourese-list.css.map */