<div class="alert-wrap alert-dismissible" id="alert-success">
  <div class="alert alert-success">
    <!--关闭按钮-->
    <!-- <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button> -->
    <strong>提示：</strong><i id="alert-success-txt"></i>
  </div>
</div>
<div class="alert-wrap alert-dismissible" id="alert-danger">
  <div class="alert alert-danger" >
    <!-- <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button> -->
    <strong>警告：</strong><i id="alert-danger-txt"></i>
  </div>
</div>