<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <p class="copywrite">
          <span>Copyright © 2016, baoqingshangmao Co., Ltd.</span>
          <span>All Rights Reserved.</span>
          <span>陕西省铜川市宝青商贸有限责任公司</span>
        </p>
        <p class="power">Power by Robin 知更鸟</p>
      </div>
      <div class="col-sm-4">
        <div class="footer-link">
          <a href="">关于我们</a>
          <span class="v-line">|</span>
          <a href="">联系我们</a>
        </div>
      </div>
    </div>
  </div>
</footer>
