<div class="container">
  <div class="row">
    <div class="col-md-8 main">
      <div class="wrap-panel">
        <div class="wp-tit">
          <h3 class="wp-tit-inner">金钥充值</h3>
        </div>
        <div class="wp-body recharge">
          <div class="row recharge-list">
            <div class="col-xs-6 col-sm-3">
              <label class="recharge-item active">
                <input class="recharge-raido" type="radio" name="recharge-option" value="1" checked="checked">
                <span class="cont"><em>10</em>元</span>
              </label>
            </div>
            <div class="col-xs-6 col-sm-3">
              <label class="recharge-item">
                <input class="recharge-raido" type="radio" name="recharge-option" value="2" checked="checked">
                <span class="cont"><em>100</em>元</span>
              </label>
            </div>
            <div class="col-xs-6 col-sm-3">
              <label class="recharge-item">
                <input class="recharge-raido" type="radio" name="recharge-option" value="3" checked="checked">
                <span class="cont"><em>100</em>元</span>
              </label>
            </div>
            <div class="col-xs-6 col-sm-3">
              <label class="recharge-item">
                <input class="recharge-raido" type="radio" name="recharge-option" value="4" checked="checked">
                <span class="cont"><em>100</em>元</span>
              </label>
            </div>
            <div class="col-xs-6 col-sm-3">
              <label class="recharge-item">
                <input class="recharge-raido" type="radio" name="recharge-option" value="5" checked="checked">
                <span class="cont"><em>100</em>元</span>
              </label>
            </div>
            <div class="col-xs-6 col-sm-3">
              <label class="recharge-item">
                <input class="recharge-raido" type="radio" name="recharge-option" value="6" checked="checked">
                <span class="cont"><em>100</em>元</span>
              </label>
            </div>
            <div class="col-xs-12 col-sm-6">
              <form class="form-inline other-money">
                <div class="form-group">
                  <label for="other-number">其他金额：</label>
                  <input type="number" class="form-control" id="other-number" placeholder="请输入金额">
                </div>
                <button type="submit" class="btn btn-primary">确认</button>
              </form>
            </div>
          </div>
          <div class="recharge-info">
            <div class="current-balances">
              当前余额：<span><em>500</em>金钥</span>
            </div>
            <div class="recharge-money">
              即将充入：<span><em>200</em>金钥</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="wrap-panel sidebar">
        <div class="wrap-panel">
          <div class="wp-tit">
            <h3 class="wp-tit-inner">结算</h3>
          </div>
        <div class="wp-body payment">
          <div class="payment-type">
            <h3 class="area-tit">支付方式</h3>
            <div class="third-party form-inline">
              <button type="button" class="btn btn-default btn-sm active">支付宝</button>
              <button type="button" class="btn btn-default btn-sm">微信</button>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">中国农业银行<span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="#">中国工商银行</a></li>
                  <li><a href="#">中国农业银行</a></li>
                  <li><a href="#">中国银行</a></li>
                  <li><a href="#">中国建设银行</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="payment-detail">
            <div class="detail-confirm">
              <dl class="info">
                <dt>应付额：</dt>
                <dd><em>15</em>金钥<span>（人民币为：<b>3</b>元）</span></dd>
              </dl>
              <div class="btnbox">
                <button type="button" class="btn btn-primary btn-block">支付</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
