<div class="container">
  <div class="row">
    <div class="col-md-8 main">
      <div class="wrap-panel">
        <div class="wp-tit">
          <h3 class="wp-tit-inner">购物车</h3>
        </div>
        <div class="wp-body shopping-list">
          <div class="table-wrap">
            <table class="table-one table-base">
              <thead>
                <tr>
                  <th width="20%"></th>
                  <th width="32%">课程</th>
                  <th width="15%">时长</th>
                  <th width="15%">单价<small>（金钥）</small></th>
                  <th width="18%">操作</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="" value="">
                      </label>
                    </div>
                  </td>
                  <td class="course">
                    <div class="area-explain">
                      <small class="explain-1"> - 提高 - </small>
                      <small class="explain-2"><span class="explain-grade label label-primary">高一</span><span class="explain-subjects label label-default">数学</span></small>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 sidebar">
      <div class="wrap-panel">
        <div class="wrap-panel">
          <div class="wp-tit">
            <h3 class="wp-tit-inner">结算</h3>
          </div>
        <div class="wp-body">
          <h3 class="area-tit">优惠</h3>
          <p>哈哈</p>
        </div>
      </div>
    </div>
  </div>
</div>
