<div class="wp-tit">
  <h3 class="wp-tit-inner">账户资料</h3>
</div>
<div class="panel-group account-list wp-body" id="accordion">
  <div class="panel account-panel account-avatar">
    <div class="account-tit">
      <h3>网站头像</h3>
      <div class="des" id="current-avatar"><img src="<%= avatar %>" width="100%" height-"100%"/></div>
      <div class="operation">
        <a id="collapse-link-avatar" class="collapse-link" data-target="#collapse-avatar">修改</a>
      </div>
    </div>
    <div class="account-collapse collapse" id="collapse-avatar">
      <div class="account-collapse-inner row">
        <% for (var i = 0;i < avatarList.length;i++) { %>
          <%if (avatar === avatarList[i]) {%>
            <a class="avatar-link col-xs-4 col-sm-2 active avatar-link-<%=i%>" href="javascript:;" data-id="<%=i%>" id="selected-avatar"><img class="avatar-img" src="<%= avatarList[i]%>"/></a>
          <% } else {%>
            <a class="avatar-link col-xs-4 col-sm-2 avatar-link-<%=i%>" href="javascript:;" data-id="<%=i%>"><img class="avatar-img" src="<%= avatarList[i]%>"/></a>
          <% } %>
        <% } %>
        <div class="col-xs-12 col-sm-3 account-btn-box">
          <button type="button" class="btn btn-primary btn-block" id="button-avatar">确认</button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel account-panel account-nickname">
    <div class="account-tit">
      <h3>用户昵称</h3>
      <div class="des">
        <span class="des-txt" id="des-nickname">
          <% if (!!name) {%>
            <%= name %>
          <% } else { %>
            用于在网站中交流的昵称
          <% } %>
        </span>
      </div>
      <div class="operation">
        <% if (!!name) {%>
          <a id="collapse-link-nickname" class="collapse-link" data-target="#collapse-nickname">修改</a>
        <% } else { %>
          <a id="collapse-link-nickname" class="collapse-link" data-target="#collapse-nickname">设置</a>
        <% } %>
      </div>
    </div>
    <div class="account-collapse collapse" id="collapse-nickname">
      <div class="account-collapse-inner">
        <div class="form-horizontal" id="form-nickname-edit">
          <div class="form-group">
            <label for="input-nickname" class="col-sm-3 control-label input-des">设置昵称：</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-5" id="input-nickname" placeholder="用户昵称">
              <span class="hint-info hint-info-5" id="hint-edit-nickname"></span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3 account-btn-box">
              <button type="button" class="btn btn-primary btn-block" id="button-nickname">确认</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel account-panel account-password">
    <div class="account-tit">
      <h3>登录密码</h3>
      <div class="des"><span class="des-txt">登录网站时输入的密码</span></div>
      <div class="operation">
        <a id="collapse-link-password" class="collapse-link" data-target="#collapse-password">修改</a>
      </div>
    </div>
    <div class="account-collapse collapse" id="collapse-password">
      <div class="account-collapse-inner">
        <div class="form-horizontal" id="form-password-edit">
          <div class="form-group">
            <label for="input-password" class="col-sm-3 control-label input-des">当前密码：</label>
            <div class="col-sm-9">
              <input type="password" class="form-control input-clear input-6" id="input-old-password" placeholder="请输入当前密码">
              <span class="hint-info hint-info-6" id="hint-old-password"></span>
              <span class="glyphicon glyphicon-ok-sign text-success hint-icon hint-icon-6"></span>
            </div>
          </div>
          <div class="form-group">
            <label for="input-new-password" class="col-sm-3 control-label input-des">新密码：</label>
            <div class="col-sm-9">
              <input type="password" class="form-control input-clear input-7" id="input-new-password" placeholder="请输入新密码">
              <span class="hint-info hint-info-7" id="hint-new-password"></span>
              <span class="glyphicon glyphicon-ok-sign text-success hint-icon hint-icon-7"></span>
            </div>
          </div>
          <div class="form-group">
            <label for="input-confirm-password" class="col-sm-3 control-label input-des">重输新密码：</label>
            <div class="col-sm-9">
              <input type="password" class="form-control input-clear input-8" id="input-confirm-password" placeholder="请重新输入新密码">
              <span class="hint-info hint-info-8" id="hint-confirm-password"></span>
              <span class="glyphicon glyphicon-ok-sign text-success hint-icon hint-icon-8"></span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3 account-btn-box">
              <button type="button" class="btn btn-primary btn-block" id="button-password">确认</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel account-panel account-mobile">
    <div class="account-tit">
      <h3>绑定手机</h3>
      <div class="des">
        <span class="des-txt">
          <% if(mobile) {%>
            <%= mobile %>
          <% } else {%>
            可用于登录网站时的帐号，也可以通过手机找回登录密码
          <% } %>
        </span>
      </div>
      <div class="operation">
        <% if (mobile) {%>
          <a class="collapse-link" id="collapse-link-mobile" data-target="#collapse-mobile">更换绑定</a>
        <% } else { %>
          <a class="collapse-link" id="collapse-link-mobile" data-target="#collapse-mobile">绑定</a>
        <% } %>
      </div>
    </div>
    <div class="account-collapse collapse" id="collapse-mobile">
      <div class="account-collapse-inner">
        <!-- 设置手机绑定 -->
        <div class="form-horizontal collapse-default hidden" id="form-mobile-bind">
          <div class="form-group">
            <label for="input-mobile" class="col-sm-3 control-label input-des">手机号码：</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-clear input-0" id="input-mobile" placeholder="请输入手机号码">
              <span class="hint-info hint-info-0"></span>
              <span class="glyphicon glyphicon-ok-sign text-success hint-icon hint-icon-0"></span>
            </div>
          </div>
          <div class="form-group">
            <label for="input-bind-img-captcha" class="col-xs-12 col-sm-3 control-label input-des">图片验证码：</label>
            <div class="col-xs-6 col-sm-6">
              <input type="text" class="form-control input-clear input-2" id="input-bind-img-captcha" placeholder="图片验证码">
              <span class="hint-info hint-info-2"></span>
              <span class="glyphicon glyphicon-ok-sign text-success hint-icon hint-icon-2"></span>
            </div>
            <div class="col-xs-6 col-sm-3">
              <img class="get-img-captcha" src="http://www.quick.com:8081/api/getCaptcha">
            </div>
          </div>
          <div class="form-group">
            <label for="input-bind-mobile-captcha" class="col-sm-3 col-xs-12 control-label input-des">短信验证码：</label>
            <div class="col-sm-6 col-xs-6">
              <input type="text" class="form-control input-3" id="input-bind-mobile-captcha" placeholder="手机验证码">
              <span class="hint-info hint-info-3" id="hint-bind-mobile-captcha"></span>
              <span class="glyphicon glyphicon-ok-sign text-success hint-icon hint-icon-3"></span>
            </div>
            <div class="col-sm-3 col-xs-6">
              <button type="button" class="btn btn-primary btn-block get-mobile-captcha">获取验证码</button>
              <button class="btn btn-default btn-block countdown" disabled="disabled"></button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3 account-btn-box">
              <button type="button" class="btn btn-primary btn-block" id="button-bind-mobile">确认</button>
            </div>
          </div>
        </div>
        <!-- 修改手机绑定 -->
        <div class="form-horizontal collapse-edit hidden" id="form-mobile-edit">
          <div class="edit-step-1 edit-step">
            <div class="form-group">
              <label for="input-old-mobile" class="col-sm-3 control-label input-des">原手机号码：</label>
              <div class="col-sm-9">
                <input type="text" class="form-control input-clear" id="input-old-mobile" value="<%= mobile %>" disabled>
              </div>
            </div>
            <div class="form-group">
              <label for="input-edit-mobile-captcha" class="col-sm-3 col-xs-12 control-label input-des">短信验证码：</label>
              <div class="col-sm-6 col-xs-6">
                <input type="text" class="form-control input-3" id="input-edit-mobile-captcha" placeholder="手机验证码">
                <span class="hint-info hint-info-3" id="hint-edit-mobile-captcha"></span>
                <span class="glyphicon glyphicon-ok-sign text-success hint-icon hint-icon-3"></span>
              </div>
              <div class="col-sm-3 col-xs-6">
                <button type="button" class="btn btn-primary btn-block get-mobile-captcha">获取验证码</button>
                <button class="btn btn-default btn-block countdown" disabled="disabled"></button>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9 col-sm-offset-3 account-btn-box">
                <button type="button" class="btn btn-primary btn-block">下一步</button>
              </div>
            </div>
          </div>
          <div class="edit-step-2 edit-step">
            <div class="form-group">
              <label for="input-new-mobile" class="col-sm-3 control-label input-des">新手机号码：</label>
              <div class="col-sm-9"><input type="text" class="form-control input-clear" id="input-new-mobile" placeholder="请输入新绑定手机号码"></div>
            </div>
            <div class="form-group">
              <label for="input-edit2-mobile-captcha" class="col-sm-3 col-xs-12 control-label input-des">短信验证码：</label>
              <div class="col-sm-6 col-xs-6">
                <input type="text" class="form-control input-3" id="input-edit2-mobile-captcha" placeholder="手机验证码">
                <span class="hint-info hint-info-3" id="hint-edit2-mobile-captcha"></span>
                <span class="glyphicon glyphicon-ok-sign text-success hint-icon hint-icon-3"></span>
              </div>
              <div class="col-sm-3 col-xs-6">
                <button type="button" class="btn btn-primary btn-block get-mobile-captcha">获取验证码</button>
                <button class="btn btn-default btn-block countdown" disabled="disabled"></button>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9 col-sm-offset-3 account-btn-box">
                <button type="button" class="btn btn-primary btn-block">确认</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel account-panel account-email">
    <div class="account-tit">
      <h3>绑定邮箱</h3>
      <div class="des"><span class="des-txt">可用于登录网站时的帐号，也可以通过邮箱找回登录密码</span></div>
      <div class="operation">
        <% if (!!email) {%>
          <a class="collapse-link" id="collapse-link-email" data-target="#collapse-email">更换绑定</a>
        <% } else { %>
          <a class="collapse-link" id="collapse-link-email" data-target="#collapse-email">绑定</a>
        <% } %>
      </div>
    </div>
    <div class="account-collapse collapse" id="collapse-email">
      <div class="account-collapse-inner">
        <!-- 设置邮箱绑定 -->
        <div class="form-horizontal collapse-default hidden">
          <div class="form-group">
            <label for="input-email" class="col-sm-3 control-label input-des">邮箱地址：</label>
            <div class="col-sm-9"><input type="text" class="form-control input-clear" id="input-email" placeholder="请输入邮箱地址"></div>
          </div>
          <div class="form-group">
            <div class="col-sm-3 control-label input-des">获取验证码：</div>
            <div class="col-sm-9 account-btn-box">
              <button type="button" id="testtooltip1" class="btn btn-primary btn-block">点击获取验证码</button>
            </div>
          </div>
          <div class="form-group">
            <label for="input-email-captcha-0" class="col-sm-3 control-label input-des">输入验证码：</label>
            <div class="col-sm-9"><input type="text" class="form-control input-clear" id="input-email-captcha-0" placeholder="请输入手机验证码"></div>
          </div>
          <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3 account-btn-box">
              <button type="button" id="testtooltip" class="btn btn-primary btn-block" >确认</button>
            </div>
          </div>
        </div>
        <!-- 修改邮箱绑定 -->
        <div class="form-horizontal collapse-edit hidden">
          <div class="edit-step-1 edit-step">
            <div class="form-group">
              <label for="input-old-email" class="col-sm-3 control-label input-des">原邮箱地址：</label>
              <div class="col-sm-9"><input type="text" class="form-control input-clear" id="input-old-email" value="email@163.com" disabled></div>
            </div>
            <div class="form-group">
              <div class="col-sm-3 control-label input-des">获取验证码：</div>
              <div class="col-sm-9 account-btn-box">
                <button type="button" class="btn btn-primary btn-block">点击获取验证码</button>
              </div>
            </div>
            <div class="form-group">
              <label for="input-email-captcha-1" class="col-sm-3 control-label input-des">输入验证码：</label>
              <div class="col-sm-9"><input type="text" class="form-control input-clear" id="input-email-captcha-1" placeholder="请输入手机验证码"></div>
            </div>
            <div class="form-group">
              <div class="col-sm-9 col-sm-offset-3 account-btn-box">
                <button type="button" class="btn btn-primary btn-block">下一步</button>
              </div>
            </div>
          </div>
          <div class="edit-step-2 edit-step">
            <div class="form-group">
              <label for="input-new-email" class="col-sm-3 control-label input-des">新邮箱地址：</label>
              <div class="col-sm-9"><input type="text" class="form-control input-clear" id="input-new-email" placeholder="请输入新绑定邮箱地址"></div>
            </div>
            <div class="form-group">
              <div class="col-sm-3 control-label input-des">获取验证码：</div>
              <div class="col-sm-9 account-btn-box">
                <button type="button" class="btn btn-primary btn-block">点击获取验证码</button>
              </div>
            </div>
            <div class="form-group">
              <label for="input-email-captcha-2" class="col-sm-3 control-label input-des">输入验证码：</label>
              <div class="col-sm-9"><input type="text" class="form-control input-clear" id="input-email-captcha-2" placeholder="请输入手机验证码"></div>
            </div>
            <div class="form-group">
              <div class="col-sm-9 col-sm-offset-3 account-btn-box">
                <button type="button" class="btn btn-primary btn-block">确认</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
