<div class="container">
  <div class="row">
    <div class="col-md-9 main">
      <div class="wrap-panel">
        <div class="wp-tit">
          <h3 class="wp-tit-inner"><%= sidebar.list[sidebar.activeMenu].txt%></h3>
        </div>
        <div class="wp-body preferential">
          <div class="exchange">
            <h3 class="preferential-tit">兑换抵用券</h3>
            <div class="form-inline">
              <div class="form-group">
                <label class="sr-only" for="input-CDkey">抵用券</label>
                <input type="text" class="form-control" id="input-CDkey" placeholder="输入兑换码">
              </div>
              <button type="submit" class="btn btn-primary">兑换</button>
            </div>
          </div>
          <div class="my-vouchers">
            <h3 class="preferential-tit">我的兑换券</h3>
            <div class="row vouchers-inner">
              <div class="col-xs-6">
                <div class="preferential-scrip preferential-scrip-left">
                  <div class="ps-tit">抵用券</div>
                  <div class="ps-cont">
                    <h4 class="price">10<small>金钥</small></h4>
                    <dl>
                      <dt>使用规则：</dt>
                      <dd>满50金钥可使用</dd>
                    </dl>
                    <dl>
                      <dt>有效日期：</dt>
                      <dd>2016.01.06 至 2016.01.20</dd>
                    </dl>
                  </div>
                  <div class="expired"></div>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="preferential-scrip">
                  <div class="ps-tit">抵用券</div>
                  <div class="ps-cont">
                    <h4 class="price">10<small>金钥</small></h4>
                    <dl>
                      <dt>使用规则：</dt>
                      <dd>满50金钥可使用</dd>
                    </dl>
                    <dl>
                      <dt>有效日期：</dt>
                      <dd>2016.01.06 至 2016.01.20</dd>
                    </dl>
                  </div>
                  <div class="expired"></div>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="preferential-scrip preferential-scrip-left">
                  <div class="ps-tit">抵用券</div>
                  <div class="ps-cont">
                    <h4 class="price">10<small>金钥</small></h4>
                    <dl>
                      <dt>使用规则：</dt>
                      <dd>满50金钥可使用</dd>
                    </dl>
                    <dl>
                      <dt>有效日期：</dt>
                      <dd>2016.01.06 至 2016.01.20</dd>
                    </dl>
                  </div>
                  <div class="expired"></div>
                </div>
              </div>

            </div>
          </div>
          <!-- <% include('./preferential-content',preferential) %> -->
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="wrap-panel" id="sidebar">
        <div class="wp-body">
          <% include('./sidebar',sidebar) %>
        </div>
      </div>
    </div>
  </div>
</div>
