<div class="wp-tit">
  <h3 class="wp-tit-inner">优惠信息</h3>
</div>
<div class="wp-body preferential">
  <div class="exchange">
    <h3 class="area-tit">兑换抵用券</h3>
    <div class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="CDkey-input">抵用券</label>
        <input type="text" class="form-control" id="CDkey-input" placeholder="输入兑换码">
      </div>
      <button type="button" class="btn btn-primary" id="CDkey-btn">兑换</button>
    </div>
  </div>
  <div class="my-vouchers">
    <h3 class="area-tit">我的兑换券</h3>
    <div class="row vouchers-inner" id="preferential-mine">
    </div>
  </div>
</div>