<div class="col-xs-6">
  <div class="preferential-scrip preferential-scrip-left">
    <div class="ps-tit">抵用券</div>
    <div class="ps-cont">
      <h4 class="price">10<small>金钥</small></h4>
      <dl>
        <dt>使用规则：</dt>
        <dd>满50金钥可使用</dd>
      </dl>
      <dl>
        <dt>有效日期：</dt>
        <dd>2016.01.06 至 2016.01.20</dd>
      </dl>
    </div>
    <div class="expired"></div>
  </div>
</div>
<div class="col-xs-6">
  <div class="preferential-scrip">
    <div class="ps-tit">抵用券</div>
    <div class="ps-cont">
      <h4 class="price">10<small>金钥</small></h4>
      <dl>
        <dt>使用规则：</dt>
        <dd>满50金钥可使用</dd>
      </dl>
      <dl>
        <dt>有效日期：</dt>
        <dd>2016.01.06 至 2016.01.20</dd>
      </dl>
    </div>
    <div class="expired"></div>
  </div>
</div>
<div class="col-xs-6">
  <div class="preferential-scrip preferential-scrip-left">
    <div class="ps-tit">抵用券</div>
    <div class="ps-cont">
      <h4 class="price">10<small>金钥</small></h4>
      <dl>
        <dt>使用规则：</dt>
        <dd>满50金钥可使用</dd>
      </dl>
      <dl>
        <dt>有效日期：</dt>
        <dd>2016.01.06 至 2016.01.20</dd>
      </dl>
    </div>
    <div class="expired"></div>
  </div>
</div>
