<div class="container">
  <div class="row">
    <div class="col-md-9 main">
      <div class="wrap-panel">
        <div class="wp-tit">
          <h3 class="wp-tit-inner"><%= sidebar.list[sidebar.activeMenu].txt%></h3>
        </div>
        <div class="wp-body progress-list">
          <div class="table-wrap">
            <table class="table-one table-base">
              <thead>
                <tr>
                  <th width="28%">课程</th>
                  <th width="42%">进度</th>
                  <th width="15%">观看时间</th>
                  <th width="15%">状态</th>
                </tr>
              </thead>
              <tbody id="progress-content">
                <% include('./progress-content',progress) %>
              </tbody>
            </table>
          </div>
          <div class="load-box">
            <button type="button" id="loadBtn" data-loading-text="正在加载" class="btn btn-lg btn-gpsload" autocomplete="off">加载更多</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="wrap-panel" id="sidebar">
        <div class="wp-body">
          <% include('./sidebar',sidebar) %>
        </div>
      </div>
    </div>
  </div>
</div>
