<% for (i = 0; i < list.length; i++) { %>
<tr>
  <td class="progress-tit"><%= list[i].title %></td>
  <td class="progress-display">
    <div class="gps-progress progress">
      <div class="progress-bar progress-bar-success" style="width:<%= list[i].playLength %>%;margin-left:<%= list[i].playStart %>%"></div>
    </div>
  </td>
  <td class="progress-viewing-time">
    <div><%= list[i].begindate %></div>
    <div class="viewHMS"><%= list[i].begintime %></div>
  </td>
  <td class="progress-status">
    <div class="des">剩余</div>

    <% if (list[i].remainingTime === null) {%>
      <div class="remaining-time">已过期</div>
    <% } else {%>
      <div class="remaining-time">2小时05分钟</div>
      <a class="link" target="_blank" href="/course-display.html?pid=<%= list[i].pid %>">继续观看</a>
    <% } %>
  </td>
</tr>
<%}%>
